venv
__pycache__
*.pyc
*.pyo

datasets
training-runs
prediction-runs
evaluation-runs
error-analysis-runs
evaluation-images
experiments
scripts
tests
test-images

.git
.idea
.vscode

requirements.txt
README.md